<?xml version="1.0" ?>
<launch>
	<node name="proto_map_generator"  pkg="map_loader"  type="proto_map_generator" output="screen"/> 
	<node name="png2bin"  pkg="map_loader"  type="png2bin" output="screen"/> 
	<node name="creat_shared_memory"  pkg="map_loader"  type="creat_shared_memory" output="screen"/> 
	
	<node name="avos_monitor" pkg="avos_monitor" type="avos_monitor" output = "screen"  launch-prefix="xterm -e gdb --args"/>
		<param type="string" value="$(find avos_monitor)/resource/matrix/cicv.xls" name="rviz_matrix_path"/>		
		<!-- <param type="string" value="$(find system_toolbar)/resource/matrix/avos_x_wxb.xls" name="rviz_matrix_path"/> -->
		<!-- <param type="string" value="$(find system_toolbar)/../map_file/N4017213E11656747/app_map/app_map.xml" name="app_map_path"/> -->
		<!-- <param type="string" value="$(find system_toolbar)/../map_file/N4017213E11656747/wxb_map/wxb01.xml" name="vector_map_path"/> -->
		<!-- <param type="string" value="$(find ivrviz)/../map_file/N4016424E11622714/vector_map/apollo.xml" name="vector_map_path"/> -->
		<!-- <param type="string" value="$(find ivrviz)/../map-ori/N4007873E11633929/vector_map/vectormap.xml" name="vector_map_path"/> -->
		<param type="string" value="package://avos_monitor/resource/car/CarModel.dae" name="car_source_path"/>

	<!-- <node name="ivrviz" pkg="ivrviz" type="ivrviz" output = "screen"/> -->
		<param type="double" value="4.3" name="lengthVehicle"/>
		<param type="double" value="1.8" name="widthVehicle"/>
		<param type="double" value="1.7" name="heightVehicle"/>
    <!-- <node pkg="ivrviz" type="tf_broadcaster.py" name="tf_broadcaster"/> -->
	<param name="use_sim_time" value="false"/>
</launch>
